body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
  }

.navbar {
    background-color: #f5e6c3; 
    height: 60px;
    .nav-link {
        color: #f8781c;
        font-weight: bold;
    }
}